*{-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box}
:root{
  --space-base: 1em;--space-x-small: calc(var(--space-base) / 4);--space-small: calc(var(--space-base) / 2);--space-medium: var(--space-base);--space-large: calc(var(--space-base) * 2);--space-x-large: calc(var(--space-base) * 3);--space-xx-large: calc(var(--space-base) * 4);--space-xxx-large: calc(var(--space-base) * 6);--space-xxxx-large: calc(var(--space-base) * 12);--space-navbar: var(--space-triple);--space-mobile: 85%;
  --type-base: calc(1.6em + 0.5vw);--type-xxx-small: 55%;--type-xx-small: 65%;--type-x-small: 75%;--type-small: 85%;--type-medium: 90%;--type-large: 125%;--type-x-large: 150%;--type-xx-large: 230%;--type-xxx-large: 340%;
}
@media (min-width: 48em){
  :root{--type-base: calc(1.3em + 0.9vw)}
}
@media (min-width: 90em){
  :root{--type-base: 2.7em}
}
html{
  -webkit-font-smoothing:antialiased;
  margin:0;padding:0;
  font-family:'Inter', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Helvetica Neue', sans-serif, Arial;
  font-weight:300;line-height:1.5em;font-size:10px;
}
body{
  margin:0;padding:0;
  font-weight:400;font-size:var(--type-base);
}
#contnr{max-width:95rem;padding:2rem 1.5rem;margin-left:auto;margin-right:auto}
@media (min-width: 38rem){.#contnr{padding:1rem 1rem}}
.orange {color:orange}
.green {color:grey}

/*@import url("https://fonts.googleapis.com/css?family=Bitter&display=swap");*/
